  body {
   background:gray;
  }
  .header {
    margin: -8px -8px 15px -8px;
    display: flex;
    padding: 1%;  
    background: #1abc9c;
    color: white;
    font-family: 'Anton', cursive;
    margin-bottom: 15px;
    justify-content: space-between;
  } 
  .header img {
    display: block;
    height: 60px;
  }

  .wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
    }

  .container {
      max-width: 960px;
      display: flex;
      flex-flow: row wrap;
      /* align-items: flex-start; */
      /* justify-content: space-between; */
      justify-items: center;

  } 

  .goal {
    
    display: flex;
    width:300px;
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin-right: 15px;
    margin-bottom: 15px; 
      
  } 
 .goal img{
   border-radius: 4px;
  max-width: 250px;
  border: 1px;
  height: 200px;

 }

  .experience{
    
    background-color: honeydew;
    max-width: 600px;
    border: 1px dashed;
    font-family: 'Anton', cursive;
    padding: 20px;
  }
  .goal p{
    padding: 30px;
    max-width:200px;
    background-color: whitesmoke;
    align-self: center;
    border-radius: 4px;
    color:#000000;
   
   
    

}

  @media screen and (max-width: 1000px){
    .header{
        background-color: #a33e1f;
    }
    

    .container{
        justify-content:center;
    }


    .goal{
       
        flex-grow:5;
        flex-shrink:0;
        justify-content: center;
    }
    .goal img{
        width:auto;
    }
   
  .experience{
    
        justify-content:center;
        max-width: auto;

    }
    .goal p{
        
        flex-flow: row wrap;
        max-height: fit-content;
        display: flex;
        padding: 10px;
        margin: 10px;
        margin-top:0%;
    }