body{
	background-color:#4cc3f2;
	font:1em sans-serif;
}

form{
	margin: 0 auto;
	width: 30%;
	padding: 2em;
    text-align:left;
	
}
h1{
	text-align:center;
}

div {
	margin-top: 2em;
}

label{
	display: inline-block;

}
input, textarea{
	font: 1em sans-serif;
	width:350px;
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 5px;
}

input:focus, textarea:focus {
	border-color:#000;
}

textarea{
	vertical-align: top;
	height: 6em;
	
}
	
button{
	background-color:#16a1fe;
	margin-left:.5em;
	padding-left: 1px;
	margin-top: 2em;
	text-align:left;
	border-radius: 6px;
}